/* Base Styles & Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  width: auto;
}

@font-face {
  font-family: "Padauk";
  src: url("fonts/Padauk-Regular.woff2") format("woff2"),
    url("fonts/Padauk-Regular.woff") format("woff"),
    url("fonts/Padauk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Padauk";
  src: url("fonts/Padauk-Bold.woff2") format("woff2"),
    url("fonts/Padauk-Bold.woff") format("woff") url("fonts/Padauk-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-image: linear-gradient(
    355deg,
    indianred,
    indianred 515px,
    bisque 515px
  );
  background-color: bisque;
  /* background-color: indianred; */
  width: 100%;
  /* max-width: 650px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Padauk", Avantgarde, "Lucida Sans Unicode", "Lucida Grande",
    sans-serif;
  line-height: 1.4;
}

header {
  background-color: indianred;
  background: linear-gradient(
    355deg,
    bisque,
    bisque calc(112px + 16vw),
    bisque calc(112px + 16vw),
    bisque calc(100% - (200px + 40vw)),
    indianred calc(100% - (200px + 40vw)),
    IndianRed
  );
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: yellow;
  text-decoration: underline;
}

a:focus {
  color: blue;
  background-color: yellow;
  text-decoration: underline;
}

audio {
  width: 100%;
}

h1 {
  font-weight: bold;
  line-height: 1.4;
  margin: 2rem auto;
  letter-spacing: 1px;
}

h2 {
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1px;
}

h3 {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 3rem;
}

h4 {
  line-height: 1.4;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 3rem;
}

h5 {
  line-height: 1.4;
  text-align: left;
  letter-spacing: 1px;
}

mark {
  background-color: black;
  color: indianred;
  font-kerning: none;
  font-family: cursive;
  font-size: 40%;
  letter-spacing: 5px;
}

img {
  text-align: center;
  margin: auto;
}

figure {
  font-style: italic;
  font-size: small;
  font: sans-serif;
  margin: 0.5em;
  padding: 0;
}

hr {
  border: none;
  border-top: 5px solid black;
  margin: 1em auto;
  width: 60%;
}

ul {
  list-style: none;
}

ol {
  font-family: sans-serif;
}

.funder {
  width: 200px;
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-img {
  width: 575px;
  max-width: 90%;
}

.ep-img {
  width: 100%;
}

/* Tab Panels
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tabs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 7rem;
}

.tab {
  cursor: pointer;
  font-size: 1.6rem;
  color: grey;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

@media (min-width: 550px) {
  .tab {
    font-size: 2.4rem;
  }
}

.selected {
  color: black;
  text-decoration: underline;
}

a.tab:hover,
a.tab:focus {
  color: black;
  text-decoration: underline;
  background-color: transparent;
}

.panel {
  display: none;
  padding: 0;
}

.show {
  display: block;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.real-footer {
  background-color: indianred;
  background: linear-gradient(
    -193deg,
    bisque,
    bisque calc(112px + 16vw),
    bisque calc(112px + 16vw),
    bisque calc(100% - (200px + 40vw)),
    indianred calc(100% - (200px + 40vw)),
    IndianRed
  );
  min-height: 50em;
}

footer {
  text-align: center;
  padding: 1em;
  padding-top: 20px;
}

.subs {
  width: 100%;
  font-size: calc(9px + 2vw);
  text-align: center;
}

.subs li {
  display: inline-block;
}

.subs::after {
  content: "";
  display: inline-block;
  width: 100%;
}
