html {
  width: auto;
}

@font-face {
font-family: 'Padauk';
src:   url('fonts/Padauk-Regular.woff2') format('woff2'),
       url('fonts/Padauk-Regular.woff') format('woff'),
       url('fonts/Padauk-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Padauk';
src: url('fonts/Padauk-Bold.woff2') format('woff2'),
     url('fonts/Padauk-Bold.woff') format('woff')
     url('fonts/Padauk-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

a {
  color: blue;
}
body {
  background-color: indianred;
  background: linear-gradient(352deg, bisque, bisque calc(112px + 16vw), bisque calc(112px + 16vw), bisque calc(100% - (200px + 40vw)), indianred calc(100% - (200px + 40vw)), IndianRed);
  width: 100%;
  /* max-width: 650px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Padauk", Avantgarde, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.title {
  margin-top: 2rem;
}

.wrapper {
    height: 60px;
    width: calc(100vh - 80px);
    position: fixed;
    z-index: 2;
    top: 95%;
    left: 1%;
    text-align: center;
    padding-top: .2em;
    transform-origin: top left;
    font-family: "Lucida Console", Monaco, sans-serif;
    font-size: calc(8px + 1vw);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.content {
  padding: 0.5em;
}

.funder {
    width: 100px;
    height: 100px;
}

.main-img {
     width: 575px;
     max-width: 90%;
}

.ep-img {
     width: 650px;
     max-width: 90%;
}

.radio-tabs .state {
    position: absolute;
    left: -10000px;
}
/* #episodes:focus ~ .tabs #episodes-tab,
#about:focus ~ .tabs #about-tab {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
} */

.radio-tabs .tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    cursor: hand;
    cursor: pointer;
    font-size:calc(10px + 2vw);
}
.radio-tabs .tab:hover {
    /* background-color: lightblue; */
}

#episodes:checked ~ .tabs #episodes-tab,
#readings:checked ~ .tabs #readings-tab,
#about:checked ~ .tabs #about-tab,
#donate:checked ~ .tabs #donate-tab {
 /* background-color: #fff;
    border-bottom: .3em solid #fff; */
    cursor: default;
}

.radio-tabs .panels {
 /* background-color: #fff; */
    padding: 0;
}
.radio-tabs .panel {
    display: none;
}

#episodes:checked ~ .panels #episodes-panel,
#readings:checked ~ .panels #readings-panel,
#about:checked ~ .panels #about-panel,
#donate:checked ~ .panels #donate-panel {
    display: block;
}

audio {
  width: 650px;
  max-width: 90%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size:calc(16px + 4vw);
  white-space: nowrap;
}
h2 {
  font-size:calc(14px + 3vw);
  font-weight: bold;
}
h3 {
  text-align: center;
  font-size:calc(12px + 2vw);
  font-weight: bold;
}
h4 {
  font-size:calc(10px + 2vw);
  font-weight: normal;
}
p {
  text-align: center;
  font-size:calc(10px + 2vw);
}

mark {
   background-color: black;
   color: indianred;
   font-kerning: none;
   font-family: cursive;
   font-size: 40%;
   letter-spacing: 5px;
}

img {
    text-align: center;
    display: block;
    margin: auto;
}

hr {
  border: none;
  border-top: 5px solid black;
  margin: 1em auto;
  width: 80%;
  }

.person {
  /* margin-top: 4rem;
  margin-bottom: 4rem; */
  /* display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center; */
}

.profile {
  width: 80%;
  margin: 10px;
  border: 1rem solid black;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

figcaption {
    display: block;
    font-family: sans-serif;
    font-size: calc(6px + 1.5vw);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.description {
  font-size: 3rem;
}

ul {
    font-family: sans-serif;
    /* text-align:left; */
    list-style: none;
    /* list-style-type: square; */
    /* font-size:calc(10px + 2vw); */
}

ol {
    font-family: sans-serif;
    font-size:calc(10px + 2vw);
}

footer {
  text-align: center;
  padding: 0.5em;
}

.subs {
  word-spacing: 1.2em;
  margin-top: 2rem;
}

::-moz-selection { background: yellow; }
::selection { background: yellow; }

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:yellow; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}
